
<div class="form-inline">
<%= form_with model: choice, local: true do |f| %>
    <% if @choice.errors.any? %>
        <ul>
            <% @choice.errors.full_messages.each do |m|%>
                <li class="danger"><%= m %></li>
            <% end%>
        </ul>
    <% end %>
    <%= f.label :choice_name %>
    <%= f.text_field :choice_name %>
    <%= f.label :date %>
    <%= f.date_field :date %>
<<<<<<< HEAD
    <%= f.label :completed %>
    <%= f.check_box :completed%>
=======
    <%# f.label :completed %>
    <%# f.check_box :completed, checked: @choice.completed?%>
>>>>>>> 9b8cd4239aef3584ecd21c23f530a4e686c2022d
    <%= f.label :location_zip %>
    <%= f.text_field :location_zip %>
    <%= f.submit class:"btn btn-primary mb-2"%>
    <% end %>
</div>