<h1><%= @choice.choice_name %></h1>

<table>
    <tr>
        <th>Date</th>
    </tr>
    <tr>
        <td><%=@choice.date%></td>
        <%# byebug %>
        <% @choice.choice_activities.map do |c|%>
            <tr>
                <th>Activity Name</th>
                <th>Category</th>
                <% if c.activity.category == "food" %>
                    <th>Cuisine</th>
                    <% else %>
                    <th>Genre</th>
                <% end %>
                <th>Completed?</th>
            </tr>
            <tr>
                <td><%= c.activity.name.capitalize %></td>
                <td><%= c.activity.category.capitalize %></td>
                <td><%= c.activity.genre_cuisine.capitalize %></td>
                <td>
                    <% if @choice.completed == true %>
                        <input type="checkbox" checked>
                    <% else %>
                        <input type="checkbox">
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tr>
</table>

<button><%= link_to "Update choice status", edit_choice_path(@choice) %></button>
<button><%= link_to 'Back', user_path(current_user) %></button>
