<h1><%= @choice.choice_name.capitalize %></h1>

<table>
    <tr>
        <th>Date</th>
        <th>Completed?</th>
    </tr>
    <tr>
        <td><%=@choice.date%></td>
        <td>
            <% if @choice.completed == true %>
                <%= "Yes" %>
            <% else %>
                <%= "No" %>
            <% end %>
        </td>
        
        <% @choice.choice_activities.map do |c|%>
            <tr>
                <% if c.activity.category == "food" %>
                    <th>Restaurant</th>
                    <% else %>
                    <th>Movie name</th>
                <% end %>
                <th>Category</th>
                <% if c.activity.category == "food" %>
                    <th>Cuisine</th>
                    <% else %>
                    <th>Genre</th>
                <% end %>
            </tr>
            <tr>
                <td><%= c.activity.name.capitalize %></td>
                <td><%= c.activity.category.capitalize %></td>
                <td><%= c.activity.genre_cuisine.capitalize %></td>
            </tr>
        <% end %>
    </tr>
</table>

<button class="btn btn-dark"><%= link_to "Update choice status", edit_choice_path(@choice) %></button>
<button class="btn btn-dark"><%= link_to 'Back', user_path(current_user) %></button>
