<div class="form">
  <%= form_with(model: address, local: true) do |f| %>
        <% if address.errors.any? %>
        <ul>
            <% address.errors.full_messages.each do |m| %>
                <li class="errors"><%= m %></li>
            <% end %>
        </ul>
        <% end %>
      <div>
        <%= f.label :street_name%><br>
        <%= f.text_field :street_name %><br>
        <%= f.label :city%><br>
        <%= f.text_field :city %><br>
        <%= f.label :state%><br>
        <%= f.text_field :state %><br>
        <%= f.label :zipcode%><br>
        <%= f.text_field :zipcode %><br>
        <%= f.label :country%><br>
        <%= f.text_field :country %><br>
      </div>

    <div class="actions">
    <%= f.submit %>
    <br>
    <button class="back-to-user"><%=link_to "Back to Profile", user_path(current_user) %></button>
  </div>
<% end %>
</div>
