
<div class="form">
    <%= form_with model:activity, local: true do |f| %>
    <% if @activity.errors.any? %>
        <ul>
            <% @activity.errors.full_messages.each do |m|%>
                <li class="danger"><%= m %></li>
            <% end%>
        </ul>
    <% end %>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :category %>
        <br>
        <%= f.text_field :category %>
        <br>
        <%= f.label :genre_cuisine %>
        <br>
        <%= f.text_field :genre_cuisine %>
        <br>
  
        <%= f.submit %>
    <% end %>
</div>