<h1>Add activities: </h1>

<%= button_to "Add food", new_activity_path, method: :get, name: :fooood%>
<%= button_to "Add movie", new_activity_path, method: :get, name: :mooobie%>
<%= button_to "Add restaurant", new_activity_path, method: :get, name: :restauuuurant%>
<%= button_to "Add random food", activities_path, method: :post, name: :food %>
<%= button_to "Add random movie", activities_path, method: :post, name: :movie%>
<%= button_to "Add random restaurant", activities_path, method: :post, name: :restaurant%>
<button class="btn btn-dark"><%= link_to 'Done', user_path(current_user) %></button>