<!DOCTYPE html>
<html>
  <head>
    <title>Decisions Decisions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    
    </head>

  <% flash.each do |k, v|  %>
    <div class="flash">
    <p class="<%= k %>"><%= v %></p>
    </div>
  <% end %>



  <% if logged_in? %>
    <header class='clearfix'>
      <div class="left-nav">
        <h1 id="welcome_header"><a href="<%= home_path %>">DECISIONS DECISIONS</a></h1>
      </div>
      <div>
      <%= button_to 'Logout', sessions_path, method: :delete, class:"btn btn-outline-warning", id:'logout_btn'%>
      </div>
    </header>
     
  <% else%>
  <header class='clearfix'>
    <div class="left-nav">
      <h1 id="welcome_header"><a href="<%= home_path %>">DECISIONS DECISIONS</a></h1>
    </div>
    <div>
      <ul class="nav justify-content-end">
        <li class="nav-item"><%= link_to 'Sign Up', new_user_path, class:"btn btn-warning", id:"sign_up_btn" %></li>
        <li class="nav-item"><%= link_to 'Log In', login_path, class:"btn btn-warning", id:"log_in_btn" %></li>
      </ul>
    </div>
  </header>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>


