<!DOCTYPE html>
<html>
  <head>
    <title>Decisions Decisions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   

    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    
    </head>

  <% flash.each do |k, v|  %>
    <p class="<%= k %>"><%= v %></p>
  <% end %>

  <% if logged_in? %>
    <%= button_to 'Logout', sessions_path, method: :delete %>
  <% else%>
  <header class='clearfix'>
  <div class="left-nav">
  <h1 id="welcome_header">DECISIONS DECISIONS</h1>
  </div>
  <div class="right-nav">
  <ul>
  <li><%= link_to 'Sign Up', new_user_path %></li>
  <li><%= link_to 'Log In', login_path %></li>
    </ul>
    </div>
</header>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
